<nav class="nav-bar" >
  
    <h1 class="logo">LOGO</h1>

    <ul class="nav-links">
           <li><a  class="menu-link" href="/">Home</a></li>
           <li><a  class="menu-link" href="filloutform">Loan</a></li>
           <li><a  class="menu-link" href="https://streamieapp.com/sales.html">FundUs</a></li>
           <li><a  class="menu-link" href=https://streamieapp.com/store.html>ContactUs</a></li>
    </ul>
    <!--the menu icon appears only on shorter screens-->
    <div class="menu-icon">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav> 